<a href="https://colab.research.google.com/github/hasindu-s/surgery-duration-prediction/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
raw_data = pd.read_csv('Data.csv')
raw_data.head()

  ahrq_ccs   age gender  ...     moonphase mort30  complication
0  <Other>  67.8      M  ...     Full Moon     No            No
1  <Other>  39.5      F  ...      New Moon     No            No
2  <Other>  56.5      F  ...     Full Moon     No            No
3  <Other>  71.0      M  ...  Last Quarter     No            No
4  <Other>  56.3      M  ...  Last Quarter     No            No

[5 rows x 25 columns]

In [ ]:
np.count_nonzero(raw_data.ahrq_ccs.unique())

23

In [ ]:
raw_data.drop(['race', 'mort30', 'moonphase', 'baseline_charlson',	'mortality_rsi',	'complication_rsi',	'ccsMort30Rate',	'ccsComplicationRate', 'dow',	'month'], axis=1, inplace=True)
raw_data.head()

  ahrq_ccs   age gender  ... baseline_pulmonary   hour complication
0  <Other>  67.8      M  ...                 No   9.03           No
1  <Other>  39.5      F  ...                 No  18.48           No
2  <Other>  56.5      F  ...                 No   7.88           No
3  <Other>  71.0      M  ...                 No   8.80           No
4  <Other>  56.3      M  ...                 No  12.20           No

[5 rows x 15 columns]

In [ ]:
raw_data = raw_data.dropna()

In [ ]:
raw_data.isnull().sum()

ahrq_ccs              0
age                   0
gender                0
asa_status            0
bmi                   0
baseline_cancer       0
baseline_cvd          0
baseline_dementia     0
baseline_diabetes     0
baseline_digestive    0
baseline_osteoart     0
baseline_psych        0
baseline_pulmonary    0
hour                  0
complication          0
dtype: int64

In [ ]:
surgery_counts = raw_data['ahrq_ccs'].value_counts()
print(surgery_counts)

Arthroplasty knee                                                   3048
Nephrectomy; partial or complete                                    2639
Open prostatectomy                                                  2411
Spinal fusion                                                       2397
Colorectal resection                                                2298
Hysterectomy; abdominal and vaginal                                 2276
Laminectomy; excision intervertebral disc                           2219
Hip replacement; total and partial                                  2043
Thyroidectomy; partial or complete                                  1341
Other hernia repair                                                 1119
Other excision of cervix and uterus                                  841
<Other>                                                              827
Inguinal and femoral hernia repair                                   713
Transurethral resection of prostate (TURP)                           652
Small bowel resection                                                541
Oophorectomy; unilateral and bilateral                               513
Lumpectomy; quadrantectomy of breast                                 486
Genitourinary incontinence procedures                                429
Repair of cystocele and rectocele; obliteration of vaginal vault     427
Plastic procedures on nose                                           400
Mastectomy                                                           399
Gastrectomy; partial and total                                       344
Endoscopy and endoscopic biopsy of the urinary tract                 337
Name: ahrq_ccs, dtype: int64

In [ ]:
knee_data = raw_data.loc[raw_data['ahrq_ccs'] == 'Arthroplasty knee']
knee_data.head()

              ahrq_ccs   age gender  ... baseline_pulmonary   hour complication
941  Arthroplasty knee  65.8      F  ...                 No   7.62           No
942  Arthroplasty knee  65.1      F  ...                 No  10.02          Yes
943  Arthroplasty knee  65.8      M  ...                 No   6.70           No
944  Arthroplasty knee  62.2      F  ...                 No  16.97           No
945  Arthroplasty knee  70.1      M  ...                Yes   6.90           No

[5 rows x 15 columns]

In [ ]:
knee_data.to_csv('Knee Data with ASA.csv', index=False)

In [ ]:
import os
path = os. getcwd() 
print(path)

/content

In [ ]:
knee_data.drop(['asa_status'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
knee_data.head()

              ahrq_ccs   age gender  ...  baseline_pulmonary   hour complication
941  Arthroplasty knee  65.8      F  ...                  No   7.62           No
942  Arthroplasty knee  65.1      F  ...                  No  10.02          Yes
943  Arthroplasty knee  65.8      M  ...                  No   6.70           No
944  Arthroplasty knee  62.2      F  ...                  No  16.97           No
945  Arthroplasty knee  70.1      M  ...                 Yes   6.90           No

[5 rows x 14 columns]

In [ ]:
knee_data.to_csv('Knee Data without ASA.csv', index=False)